/* Write styles here */
* {
  margin: 0;
  padding: 0;
  /* background-color: black;
  color: white; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.cont {
  display: flex;
  justify-content: space-around;
}
.box {
  padding: 15px 20px;
  font-size: 20px;
}
button {
  font-size: 20px;
  margin: 2px;
  border: 2px solid black;
  padding: 10px 15px;
  width: 150px;
}
/* .btn1 {
  color: black;
  background-color: white;
}
.btn1:hover {
  cursor: pointer;
}
.btn1:active {
  transform: scale(0.98);
} */
button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
button:active {
  transform: scale(1.02);
}
a {
  text-decoration: none;
  color: white;
}
